@using BeautySalonService.BusinessLayer.Helpers;
@using BeautySalonService.ViewModels
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<section class="bgImg">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <a href="@Url.Action("Home", "Home")">
                        <img src="~/IdentityFront/img/logo.png" alt="logo" width="100">
                    </a>
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5 formCard">
                        <h1 class="fs-4 card-title fw-bold mb-4">Reset Password</h1>
                        <form method="POST" asp-action="ResetPassword" asp-controller="Identity" class="needs-validation" novalidate="" autocomplete="off">
                            <input type="hidden" class="form-control" name="id" readonly value="@ClientHelper.ClientDetails.ClientId">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="oldPassword">Old Password</label>
                                <input id="oldPassword" type="password" class="form-control" name="oldPassword" value="" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="newPassword">New Password</label>
                                <input id="newPassword" type="password" class="form-control" name="newPassword" value="" required autofocus>
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="confirmPassword">Confirm Password</label>
                                </div>
                                <input id="confirmPassword" type="password" class="form-control" name="confirmPassword" required>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="identityButton btn btn-primary">
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            <p>Back to <a href="@Url.Action("Profile", "Identity", new { ClientHelper.ClientDetails.ClientId })" class="text-dark">Profile</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~IdentityFront/js/login.js"></script>