@using BeautySalonService.ViewModels.Home;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero" style="background-image: url('LayoutFront/img/hero_1.png')">
    <section>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
    </section>
</div>