@using BeautySalonService.ViewModels;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero" style="background-image: url('images/hero_1.png')">
    <section>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
        <h1>HEllooooooooooooo</h1>
    </section>
</div>
            
@*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="432" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
    </div>
</div>*@

